@model IEnumerable<EP3_ICE_CREAM.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Contac</h2>

<div class="row">
    <div class="col-md-10">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.fullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "DetailsContac", new { id = item.id }) |
                        @Html.ActionLink("Delete", "DeleteContact", new { id = item.id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>