@model IEnumerable<EP3_ICE_CREAM.Models.RegisteredUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payfor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payfor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegisteredUser_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegisteredUser_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegisteredUser_id })
        </td>
    </tr>
}

</table>
