@model IEnumerable<EP3_ICE_CREAM.Models.Flavor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flavor_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flavor_image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.slug)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flavor_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flavor_image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.slug)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Flavor_id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Flavor_id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Flavor_id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
