@model EP3_ICE_CREAM.Models.Recipe

@{
    ViewBag.Title = "RecipeDetails";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">

                <h2 class="mb-3">  @Model.Recipe_title</h2>
                <h7 class="mb-3">Flavor : @Model.Flavor_id</h7>
                <p>
                    <img style="height:400px;width:500px" class="p-2" src="~/Uploads/Recipes/@Model.Recipe_image" />
                </p>

                
                <div class="about-author d-flex p-4 bg-light">
                    <div class="desc align-self-md-center">
                        <h3>Ingredients</h3>
                        <p class="align-self-md-center"><h8 class="mb-3"> @Html.Raw(Model.Recipe_ingredients)</h8></p>
                    </div>





                </div>




                <h3> <h7>Author :</h7> @Model.Recipe_Author</h3>
            </div> <!-- .col-md-8 -->   
            <div class="col-lg-4 sidebar ftco-animate">


                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Procedure</h3>
                    <p class="align-self-md-center"><h8 class="mb-3"> @Model.Recipe_procedure</h8></p>

                </div>
            </div>

        </div>
    </div>
</section> <!-- .section -->
