@model PagedList.IPagedList<EP3_ICE_CREAM.Models.Recipe>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Areas/Admin/Data/ckeditor/ckeditor.js"></script>
@if (Session["UpdateSuccess"] != null)
{
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'UpdateSuccess Success !!',
            showConfirmButton: false,
            timer: 1600
        })
    </script>
    Session.Remove("UpdateSuccess");
}
@if (Session["CreateSuccess"] != null)
{
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'CreateSuccess Success !!',
            showConfirmButton: false,
            timer: 1600
        })
    </script>
    Session.Remove("CreateSuccess");
}

@if (Session["DeleteSuccess"] != null)
{
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'DeleteSuccess Success !!',
            showConfirmButton: false,
            timer: 1600
        })
    </script>
    Session.Remove("DeleteSuccess");
}

<div class="container-fluid p-0">


    <div class="row">

        <div class="col-md-12">
            <div style="display:flex;justify-content:space-between">
                <div>
                    @*<form class="d-flex flex-row align-items-center flex-wrap" action=""
                         )">
                        <label for="search" class="mx-2 my-1">Search</label> 
                        <input type="search" class="form-control w-auto"  id="search" name="search" value="@ViewBag.Search" placeholder="Search Hear ...."/>
                        <button type="submit" class="btn btn-primary mx-2">Go</button>
                    </form>*@
                    <button class="btn btn-outline-primary" id="hien">Create New</button>


                    <input type="hidden" name="khachhang" id="khachhang" value="sanpham" />




                </div>
                <div>
                    <h1 class="h3 d-inline align-middle">Recipe List</h1>
                </div>
                <div>
                    <nav aria-label="Page navigation example">

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions()
                   {
                       UlElementClasses = new[] { "pagination justify-content-end" },
                       LiElementClasses = new[] { "page-item", "page-link" },
                       LinkToPreviousPageFormat = "Trang trước",
                       LinkToNextPageFormat = "Trang tiếp",
                   })
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-xl-10">
            <div class="tab-content">
                <div id="hiddendiv">

                    <div class="card">
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <form>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="mb-3">
                                                <label class="form-label">Flavor List</label>
                                                @Html.DropDownList("Flavor_id", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Recipe Name</label>
                                                <input type="text" class="form-control" id="Recipe_title" name="Recipe_title" required>

                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Recipe Author</label>
                                                <input type="text" class="form-control" id="Recipe_Author" name="Recipe_Author" required>

                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Recipe Procedure</label>
                                                <input type="text" class="form-control" id="Recipe_procedure" name="Recipe_procedure" required>

                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label" for="Recipe Ingredients"></label>

                                                <textarea rows="4" class="form-control" id="Recipe_ingredients" name="Recipe_ingredients"
                                                          placeholder="Chi tiết sản phẩm" required></textarea>
                                                <script type="text/javascript" lang="javascript">
                                                    CKEDITOR.replace("Recipe_ingredients");
                                                </script>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-center">
                                              
                                                <div class="mb-3">
                                                    <label class="form-label">Image</label>
                                                    <input class="form-control form-control-lg" type="file" name="img" id="img" onchange="ImagesFileAsURL()" required />
                                                    <br />
                                                    <div class="style_displayImg" id="displayImg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Datatables -->
<div class="col-lg-12">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
        </div>
        <div class="table-responsive p-3">
          <table class="table align-items-center table-flush" id="dataTable">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Flavor</th>
                        <th>Recipe Title</th>
                        <th>Recipe Author</th>
                        <th>Recipe Procedure</th>
                        <th>Recipe Ingredients</th>
                    </tr>
                </thead>
              
                <tbody>
                    @foreach (var item in Model)
                    {
                      
                        <tr>
                            <td>

                                <img src="~/Uploads/Recipes/@item.Recipe_image" class="img-fluid" style="width: 150px; height: 150px;" alt="Image-Recipe">

                            </td>
                            <td>@item.Flavor_id</td>
                            <td>@item.Recipe_title</td>
                            <td>@item.Recipe_Author</td>
                            <td>@item.Recipe_procedure</td>
                            <td>.......</td>
                            <td>

                                @Html.ActionLink("Update", "Edit", new { id = item.Recipe_id }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Recipe_id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>


                    }



                </tbody>
            </table>
        </div>
    </div>
</div>

<br />


<script type="text/javascript">

    function ImagesFileAsURL() {
        var fileSelected = document.getElementById('img').files;
        if (fileSelected.length > 0) {
            var fileToLoad = fileSelected[0];
            var fileReader = new FileReader();
            fileReader.onload = function (fileLoaderEvent) {
                var srcData = fileLoaderEvent.target.result;
                var newImage = document.createElement('img');
                newImage.src = srcData;
                document.getElementById('displayImg').innerHTML = newImage.outerHTML;
            }
            fileReader.readAsDataURL(fileToLoad);
        }
    };

    //
    var hiddendiv = document.getElementById("hiddendiv");

    // Ẩn nút dưới ban đầu
    hiddendiv.style.display = "none";

    document.getElementById("hien").onclick = function () {
        document.getElementById("hiddendiv").style.display = 'block';// hiện
    };
</script>

